.footer {
    padding-top: 40px;
    height: 230px;
}
.footer__logo{
    text-align: center;
}
.links__list {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.links__item {
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}
.footer__social {
    text-align: center;
}
.info__text {
    font-size: 12px;
    text-align: center;
    line-height: 17px;
    padding-top: 5px;
    padding-bottom: 20px;
}