.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 333px;
}
.header__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.4rem;
}
.text-weight-light {
    font-weight: 300;
}

.header__title-light {
    font-weight: 300;
}

.header__info {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 24px;
    padding-bottom: 24px;
}
